
		  <footer>
			<section class="contact">
			  <p>
				Kyle McNally<br />
				IT Architect<br />
				kyle@kmcnally.net
			  </p>
			</section>
			<section class="contact">
			 	
			</section>
			<section class="services">
				<ul>
					<li><a href="feed.xml"><img src="images/services/webicon-rss.svg"></a></li>
					<li><a href="https://www.last.fm/user/Sparticuz"><img src="images/services/webicon-lastfm.svg"></a></li>
					<li><a href="https://www.twitter.com/kylemcnally"><img src="images/services/webicon-twitter.svg"></a></li>
					<li><a href="https://www.facebook.com/kylemcnally"><img src="images/services/webicon-facebook.svg"></a></li>
					<li><a href="https://www.github.com/Sparticuz"><img src="images/services/webicon-github.svg"></a></li>
					<li><a href="https://www.goodreads.com/user/show/3052564-kyle-mcnally"><img src="images/services/webicon-goodreads.svg"></a></li>
					<li><a href="https://plus.google.com/113338955208362524640"><img src="images/services/webicon-googleplus.svg"></a></li>
				</ul>
			</section>
		  </footer>
		</div>

	</body>
</html>
