
          <div class="footer">
            <div class="contact">
              <p>
                Kyle McNally<br />
                IT Architect<br />
                kyle@kmcnally.net
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/sparticuz">github.com/Sparticuz</a><br />
                <a href="https://twitter.com/kylemcnally">twitter.com/kylemcnally</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
